.container{
    width:100%;

    text-align: center;
    height: 460px;

}
.container1{
    background: center url(../../img/perform1.jpg) no-repeat;
}
.container2{
    background: center url(../../img/perform2.jpg) no-repeat;
}
.container3{
    background: center url(../../img/perform3.jpg) no-repeat;
}
.container4{
    background: center url(../../img/perform4.jpg) no-repeat;
}
.container5{
    background: center url(../../img/perform5.jpg) no-repeat;
}
.container6{
    background: center url(../../img/perform6.jpg) no-repeat;
}
.container7{
    background: center url(../../img/reports1.jpg) no-repeat;
}
.container8{
    background: center url(../../img/reports2.jpg) no-repeat;
}
.container9{
    background: center url(../../img/reports3.jpg) no-repeat;
}
.container10{
    background: center url(../../img/reports4.jpg) no-repeat;
}
.container11{
    background: center url(../../img/reports5.jpg) no-repeat;
}
.container12{
    background: center url(../../img/reports6.jpg) no-repeat;
}


.container .back{
    color:white;
    font-size: 200%;
    padding-top:10%;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.363);
}

.content{
    background-color: white;
    box-shadow: 0 0px 14px rgba(0,0,0,.4);
    margin-top: 6%;
    padding: 5%;
}

.content p{
    color:rgb(37, 37, 37);
    text-align: left;
}


.content h2{
    color:#ff0000;
    text-align: center;
}